# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslySellerAPI.Api.Billing do
  @moduledoc """
  API calls for all endpoints tagged `Billing`.
  """

  alias CrosslySellerAPI.Connection
  import CrosslySellerAPI.RequestBuilder


  @doc """
  Start an upgrade to a higher plan.
  Returns a Stripe Checkout URL. Nothing is charged by this call — a person completes the payment. Downgrades and cancellation are not available to a token at all; they stay with the account owner.

  ## Parameters

  - connection (CrosslySellerAPI.Connection): Connection to server
  - inline_object (InlineObject): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslySellerAPI.Model.CreateBillingUpgradeResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_billing_upgrade(Tesla.Env.client, CrosslySellerAPI.Model.InlineObject.t, keyword()) :: {:ok, CrosslySellerAPI.Model.Error.t} | {:ok, CrosslySellerAPI.Model.CreateBillingUpgradeResponse.t} | {:error, Tesla.Env.t}
  def create_billing_upgrade(connection, inline_object, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/billing/upgrade")
    |> add_param(:body, :body, inline_object)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslySellerAPI.Model.CreateBillingUpgradeResponse{}},
      { 400, %CrosslySellerAPI.Model.Error{}},
      { 401, %CrosslySellerAPI.Model.Error{}},
      { 403, %CrosslySellerAPI.Model.Error{}},
      { 404, %CrosslySellerAPI.Model.Error{}},
      { 429, %CrosslySellerAPI.Model.Error{}},
      { 500, %CrosslySellerAPI.Model.Error{}}
    ])
  end
end
