# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslySellerAPI.Api.Catalog do
  @moduledoc """
  API calls for all endpoints tagged `Catalog`.
  """

  alias CrosslySellerAPI.Connection
  import CrosslySellerAPI.RequestBuilder


  @doc """
  Live Crossly offers for a product identifier (barcode, style code, LEGO set…).
  Identifier-first: a GTIN is validated against its GS1 check digit and every length is normalised to 14 digits before lookup, so a UPC-A and its EAN-13 twin resolve to the same product. There is no fuzzy fallback — an identifier we cannot validate returns nothing rather than a guess.

  ## Parameters

  - connection (CrosslySellerAPI.Connection): Connection to server
  - namespace (String.t): 
  - value (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslySellerAPI.Model.GetCatalogLookupResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_catalog_lookup(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, CrosslySellerAPI.Model.Error.t} | {:ok, CrosslySellerAPI.Model.GetCatalogLookupResponse.t} | {:error, Tesla.Env.t}
  def get_catalog_lookup(connection, namespace, value, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/catalog/lookup")
    |> add_param(:query, :"namespace", namespace)
    |> add_param(:query, :"value", value)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslySellerAPI.Model.GetCatalogLookupResponse{}},
      { 400, %CrosslySellerAPI.Model.Error{}},
      { 401, %CrosslySellerAPI.Model.Error{}},
      { 403, %CrosslySellerAPI.Model.Error{}},
      { 404, %CrosslySellerAPI.Model.Error{}},
      { 429, %CrosslySellerAPI.Model.Error{}},
      { 500, %CrosslySellerAPI.Model.Error{}}
    ])
  end
end
