# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslySellerAPI.Api.Offers do
  @moduledoc """
  API calls for all endpoints tagged `Offers`.
  """

  alias CrosslySellerAPI.Connection
  import CrosslySellerAPI.RequestBuilder


  @doc """
  Accept, decline, or counter a buyer offer on a Crossly marketplace listing.

  ## Parameters

  - connection (CrosslySellerAPI.Connection): Connection to server
  - id (String.t): Offer UUID.
  - inline_object2 (InlineObject2): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslySellerAPI.Model.CreateOfferRespondResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_offer_respond(Tesla.Env.client, String.t, CrosslySellerAPI.Model.InlineObject2.t, keyword()) :: {:ok, CrosslySellerAPI.Model.Error.t} | {:ok, CrosslySellerAPI.Model.CreateOfferRespondResponse.t} | {:error, Tesla.Env.t}
  def create_offer_respond(connection, id, inline_object2, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/offers/#{id}/respond")
    |> add_param(:body, :body, inline_object2)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslySellerAPI.Model.CreateOfferRespondResponse{}},
      { 400, %CrosslySellerAPI.Model.Error{}},
      { 401, %CrosslySellerAPI.Model.Error{}},
      { 403, %CrosslySellerAPI.Model.Error{}},
      { 404, %CrosslySellerAPI.Model.Error{}},
      { 429, %CrosslySellerAPI.Model.Error{}},
      { 500, %CrosslySellerAPI.Model.Error{}}
    ])
  end

  @doc """
  List buyer offers on your Crossly marketplace listings, including bundles.

  ## Parameters

  - connection (CrosslySellerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :status (String.t): Filter to one status. Omit for all.
    - :limit (integer()): 
  ## Returns

  {:ok, CrosslySellerAPI.Model.GetOfferResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_offer(Tesla.Env.client, keyword()) :: {:ok, CrosslySellerAPI.Model.Error.t} | {:ok, CrosslySellerAPI.Model.GetOfferResponse.t} | {:error, Tesla.Env.t}
  def get_offer(connection, opts \\ []) do
    optional_params = %{
      :"status" => :query,
      :"limit" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/offers")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslySellerAPI.Model.GetOfferResponse{}},
      { 400, %CrosslySellerAPI.Model.Error{}},
      { 401, %CrosslySellerAPI.Model.Error{}},
      { 403, %CrosslySellerAPI.Model.Error{}},
      { 404, %CrosslySellerAPI.Model.Error{}},
      { 429, %CrosslySellerAPI.Model.Error{}},
      { 500, %CrosslySellerAPI.Model.Error{}}
    ])
  end
end
