# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslyBuyerAPI.Api.BuyerCheckout do
  @moduledoc """
  API calls for all endpoints tagged `BuyerCheckout`.
  """

  alias CrosslyBuyerAPI.Connection
  import CrosslyBuyerAPI.RequestBuilder


  @doc """
  Buy a listing without being present.
  An Idempotency-Key header is REQUIRED — this endpoint refuses without one, because a retried request would otherwise buy the item twice and a retry is the most likely thing an automated buyer does. Derive the key from what you are buying and reuse it across retries; a fresh random value per attempt satisfies the check and keeps the bug. The item is QUOTED first and the delivered total is checked against both your maxTotalCents and this key's limits before anything is charged. A card that demands 3-D Secure cannot be charged unattended; that answers 402 with `authentication_required` and the purchase must be finished on Crossly.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerCheckoutResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_checkout(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerCheckoutResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_checkout(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/checkout")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerCheckoutResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  What this key is allowed to spend.
  Reports the controls for the key making the call — not for your account. Every key has its own switch and its own limits.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerCheckoutControlResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_checkout_control(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.GetBuyerCheckoutControlResponse.t} | {:error, Tesla.Env.t}
  def get_buyer_checkout_control(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/checkout/controls")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerCheckoutControlResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Switch this key on for spending, and set its limits.
  A key can only ever raise or lower ITS OWN limits, and only if the token already carries buyer:checkout:write. Turning it off takes effect immediately.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.UpdateBuyerCheckoutControlResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_buyer_checkout_control(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.UpdateBuyerCheckoutControlResponse.t} | {:error, Tesla.Env.t}
  def update_buyer_checkout_control(connection, _opts \\ []) do
    %{}
    |> method(:put)
    |> url("/v1/buyer/checkout/controls")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.UpdateBuyerCheckoutControlResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end
end
