# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslyBuyerAPI.Api.BuyerMonitors do
  @moduledoc """
  API calls for all endpoints tagged `BuyerMonitors`.
  """

  alias CrosslyBuyerAPI.Connection
  import CrosslyBuyerAPI.RequestBuilder


  @doc """
  Watch a search, and be told when it matches.
  Works immediately — there is no review step. The signing secret is returned ONCE, here; it is never readable again. The first sweep SEEDS without firing: a restock alert created while the item is already in stock has not observed a restock, and a new-listing monitor would otherwise deliver the entire back catalogue.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerMonitorResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_monitor(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerMonitorResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_monitor(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/monitors")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerMonitorResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Delete a monitor.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, nil} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec delete_buyer_monitor(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def delete_buyer_monitor(connection, id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/v1/buyer/monitors/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 204, false},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  What this monitor has matched.
  The read side of a `poll` monitor, and an audit trail for a `webhook` one — so a missed delivery does not mean lost data.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_monitor_matches(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_monitor_matches(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/monitors/#{id}/matches")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Your monitors.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_monitors(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_monitors(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/monitors")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Pause, resume or rename a monitor.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.UpdateBuyerMonitorResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec update_buyer_monitor(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.UpdateBuyerMonitorResponse.t} | {:error, Tesla.Env.t}
  def update_buyer_monitor(connection, id, _opts \\ []) do
    %{}
    |> method(:patch)
    |> url("/v1/buyer/monitors/#{id}")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.UpdateBuyerMonitorResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end
end
