# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslyBuyerAPI.Api.BuyerCatalog do
  @moduledoc """
  API calls for all endpoints tagged `BuyerCatalog`.
  """

  alias CrosslyBuyerAPI.Connection
  import CrosslyBuyerAPI.RequestBuilder


  @doc """
  Identify a held object and return a HUD-ready answer.
  The gesture endpoint for Live Shop. Runs a cost ladder: a decoded BARCODE resolves in ~50ms for nothing; failing that, self-hosted CLIP matches the catalogue; failing that, a vision model names it (the only rung that costs anything, capped per buyer per day). `hud` is pre-formatted for a 600×600 lens — one headline, one subline, up to three fact chips and exactly ONE action, because a pinch cannot choose between buttons. A vision label is WORDS, never an identity: it names the thing so the buyer can search, and never drives a price comparison.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerIdentifyResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_identify(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerIdentifyResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_identify(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/identify")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerIdentifyResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Lock on to an object the buyer is holding.
  Open this when on-device tracking acquires an object, then post observations to it as the buyer turns the thing over. The answer improves as evidence arrives — the style code inside a shoe settles what the front of it could not.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerLockonResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_lockon(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerLockonResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_lockon(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/lockons")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerLockonResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  The buyer picked one of the candidates.
  Promotes a text match to a CONFIRMED identity — the strongest evidence in the system, because a person holding the object said yes. Validated against the candidates we actually offered, so it cannot be claimed about an arbitrary product.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerLockonConfirmResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_lockon_confirm(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerLockonConfirmResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_lockon_confirm(connection, id, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/lockons/#{id}/confirm")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerLockonConfirmResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Add what this frame revealed, and get the current best answer.
  Send only what you LEARNED: a decoded barcode, newly-read OCR text, or a frame when neither settled it. Do not post every frame — tracking and decoding happen on-device for free, and this endpoint is for evidence, not video. Evidence is RANKED (confirmed > barcode > ocr > visual), so a late weak reading can never overwrite a strong early one. When text evidence finds several products, `candidates` comes back for the buyer to pick from — a vision label is words, and only a human confirmation turns it into an identity we will price against.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerLockonObserveResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_lockon_observe(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerLockonObserveResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_lockon_observe(connection, id, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/lockons/#{id}/observe")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerLockonObserveResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Identify a physical item and find the cheapest place to buy it.
  Send a barcode identifier OR a photo. A BARCODE establishes identity, so the response carries a full price verdict across Crossly and other retailers. A PHOTO establishes resemblance only: you get visual matches from the Crossly catalogue, and a price verdict ONLY if the matched listing carries a real identifier. When it does not, `comparable` is false and there is no verdict — a price comparison built on a visual guess is a claim about a different product. Most second-hand items have no identifier by nature, so this is expected rather than a failure.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerScanResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_scan(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerScanResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_scan(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/scan")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerScanResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Open a Live Shop session.
  Call this when the glasses connect, then pass the returned id as `sessionId` on each scan. Opening a session CLOSES any other live one — a person is in one shop at a time, and two live sessions split a trip across both.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerScanSessionResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_scan_session(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerScanSessionResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_scan_session(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/scan/sessions")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerScanSessionResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Close a Live Shop session.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerScanSessionEndResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_scan_session_end(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerScanSessionEndResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_scan_session_end(connection, id, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/scan/sessions/#{id}/end")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerScanSessionEndResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Cheapest source for an item — Crossly first, then other retailers.
  Answers with a VERDICT, not a list: crossly_best, offsite_cheaper, offsite_only or no_match. Offsite offers come from licensed affiliate product feeds, are ranked CHEAPEST-FIRST — commission only ever breaks a sub-$1 tie — and only appear when they beat the price you passed in. `shippingUnknown: true` means a compared price omitted postage, so present the result as \"before postage\" rather than as a delivered total. Crossly wins ties within $1; beyond that the honest answer wins.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerAnywhereResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_anywhere(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.GetBuyerAnywhereResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def get_buyer_anywhere(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/anywhere")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerAnywhereResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Brands, categories and conditions that currently have stock.
  The vocabulary the search filters accept. Counts are live, so a filter built from this will never return an empty page for a value that has since sold out.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerCatalogFacetResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_catalog_facet(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.GetBuyerCatalogFacetResponse.t} | {:error, Tesla.Env.t}
  def get_buyer_catalog_facet(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/catalog/facets")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerCatalogFacetResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  One listing, in full.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - slug (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerCatalogListingResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_catalog_listing(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.GetBuyerCatalogListingResponse.t} | {:error, Tesla.Env.t}
  def get_buyer_catalog_listing(connection, slug, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/catalog/listings/#{slug}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerCatalogListingResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Is it still buyable, and at what price.
  The cheapest endpoint here, and the one to poll if you are going to poll — a single indexed row, no joins beyond stock, and an ETag so an unchanged answer is a 304. If you want to be TOLD instead of asking, create a monitor.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - slug (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerCatalogListingAvailabilityResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_catalog_listing_availability(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.GetBuyerCatalogListingAvailabilityResponse.t} | {:error, Tesla.Env.t}
  def get_buyer_catalog_listing_availability(connection, slug, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/catalog/listings/#{slug}/availability")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerCatalogListingAvailabilityResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  One trip and everything it found.
  Verdicts are returned EXACTLY as they were given at the time, not re-priced. A history screen that silently refreshes old prices shows a saving that was never actually on offer.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerScanSessionResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_scan_session(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.GetBuyerScanSessionResponse.t} | {:error, Tesla.Env.t}
  def get_buyer_scan_session(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/scan/sessions/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerScanSessionResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Search the Crossly catalogue.
  Keyset-paginated. Pass the `nextCursor` you were given back as `cursor`; page 500 costs the same as page 1. Cursors are opaque — do not parse them. Responses carry an ETag: send it back as If-None-Match and an unchanged page answers 304, which is free. `sort=popular` is deliberately unavailable, because a cursor into a continuously-reordering list silently skips rows.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_catalog_search(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_catalog_search(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/catalog/search")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Your scanning trips, newest first.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_scan_sessions(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_scan_sessions(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/scan/sessions")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end
end
