# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule CrosslyBuyerAPI.Api.Buyer do
  @moduledoc """
  API calls for all endpoints tagged `Buyer`.
  """

  alias CrosslyBuyerAPI.Connection
  import CrosslyBuyerAPI.RequestBuilder


  @doc """
  Report an item your user is looking at, and get our answer.
  Records the look and returns whether Crossly has the item and at what price. Send an identifier and a store DOMAIN — a full URL is refused. Nothing about the page itself is stored.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - inline_object4 (InlineObject4): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerActivityResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_activity(Tesla.Env.client, CrosslyBuyerAPI.Model.InlineObject4.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerActivityResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_activity(connection, inline_object4, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/activity")
    |> add_param(:body, :body, inline_object4)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerActivityResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Add a listing to your cart.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - inline_object2 (InlineObject2): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerCartItemResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_cart_item(Tesla.Env.client, CrosslyBuyerAPI.Model.InlineObject2.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerCartItemResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_cart_item(connection, inline_object2, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/cart/items")
    |> add_param(:body, :body, inline_object2)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerCartItemResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Price the cart, delivered — item, shipping, tax, total.
  Runs the real checkout cascade and returns the totals instead of charging. Nothing is purchased. `taxComplete: false` means there is no saved delivery address, so the total is a floor rather than a final figure.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerCartQuoteResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_cart_quote(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerCartQuoteResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_cart_quote(connection, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/cart/quote")
    |> ensure_body()
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerCartQuoteResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Offer a price on a listing.
  Sends an offer to the seller. Spends nothing — a seller accepting still leaves you to complete checkout. Offers at or above the asking price are refused; buy it instead.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - inline_object3 (InlineObject3): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerOfferResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_offer(Tesla.Env.client, CrosslyBuyerAPI.Model.InlineObject3.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerOfferResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_offer(connection, inline_object3, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/offers")
    |> add_param(:body, :body, inline_object3)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerOfferResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Create a wishlist.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - inline_object (InlineObject): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerWishlistResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_wishlist(Tesla.Env.client, CrosslyBuyerAPI.Model.InlineObject.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.CreateBuyerWishlistResponse.t} | {:error, Tesla.Env.t}
  def create_buyer_wishlist(connection, inline_object, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/wishlists")
    |> add_param(:body, :body, inline_object)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerWishlistResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Add a listing to a wishlist.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - inline_object1 (InlineObject1): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.CreateBuyerWishlistItemResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec create_buyer_wishlist_item(Tesla.Env.client, String.t, CrosslyBuyerAPI.Model.InlineObject1.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.CreateBuyerWishlistItemResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def create_buyer_wishlist_item(connection, id, inline_object1, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/v1/buyer/wishlists/#{id}/items")
    |> add_param(:body, :body, inline_object1)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.CreateBuyerWishlistItemResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Remove a line from your cart.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, nil} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec delete_buyer_cart_item(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def delete_buyer_cart_item(connection, id, _opts \\ []) do
    %{}
    |> method(:delete)
    |> url("/v1/buyer/cart/items/#{id}")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 204, false},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  The shopping profile derived from that activity.
  Derived, never declared — there is no preferences form anywhere. `matchRate` is the share of this person's searches Crossly could answer; a low number is an inventory problem, not a personalisation one, which is why it is here.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerPreferenceResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_preference(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.GetBuyerPreferenceResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def get_buyer_preference(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/preferences")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerPreferenceResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Your Crossly shopping profile — name, email, saved address, Bucks balance.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, CrosslyBuyerAPI.Model.GetBuyerProfileResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec get_buyer_profile(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.GetBuyerProfileResponse.t} | {:ok, CrosslyBuyerAPI.Model.Error.t} | {:error, Tesla.Env.t}
  def get_buyer_profile(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/profile")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.GetBuyerProfileResponse{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  What this buyer has compared lately.
  Newest first, and only as far back as the retention window — the link between a person and a comparison is dropped after 180 days, so this thins out rather than growing forever.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_activity(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_activity(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/activity")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  What is in your Crossly cart.
  Line items with the price captured when each was added. This is NOT a quote — shipping, tax and any discounts are computed at checkout against a delivery address, and the sum of these lines is not what you will be charged.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_cart(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_cart(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/cart")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Your Scout cashback — pending, confirmed, paid.
  Newest first. `pending` means an order was reported and the retailer's return window has not closed; nothing is paid until it does. `expired` means a click was never reported as converting, which is the ordinary outcome for most clicks.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :status (String.t): 
    - :page (integer()): 
    - :limit (integer()): 
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_cashback(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_cashback(connection, opts \\ []) do
    optional_params = %{
      :"status" => :query,
      :"page" => :query,
      :"limit" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/buyer/cashback")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  What you have bought on Crossly, newest first.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
    - :page (integer()): 
    - :limit (integer()): 
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_orders(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_orders(connection, opts \\ []) do
    optional_params = %{
      :"page" => :query,
      :"limit" => :query
    }
    %{}
    |> method(:get)
    |> url("/v1/buyer/orders")
    |> add_optional_params(optional_params, opts)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  What is on one wishlist.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - id (String.t): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_wishlist_items(Tesla.Env.client, String.t, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_wishlist_items(connection, id, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/wishlists/#{id}/items")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end

  @doc """
  Your wishlists.

  ## Parameters

  - connection (CrosslyBuyerAPI.Connection): Connection to server
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, V1List} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec list_buyer_wishlists(Tesla.Env.client, keyword()) :: {:ok, CrosslyBuyerAPI.Model.Error.t} | {:ok, CrosslyBuyerAPI.Model.V1List.t} | {:error, Tesla.Env.t}
  def list_buyer_wishlists(connection, _opts \\ []) do
    %{}
    |> method(:get)
    |> url("/v1/buyer/wishlists")
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %CrosslyBuyerAPI.Model.V1List{}},
      { 400, %CrosslyBuyerAPI.Model.Error{}},
      { 401, %CrosslyBuyerAPI.Model.Error{}},
      { 403, %CrosslyBuyerAPI.Model.Error{}},
      { 404, %CrosslyBuyerAPI.Model.Error{}},
      { 429, %CrosslyBuyerAPI.Model.Error{}},
      { 500, %CrosslyBuyerAPI.Model.Error{}}
    ])
  end
end
